@charset "UTF-8";
body {
  font-family: "Roboto", Tahoma, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* основные цвета сайта */
:root {
  --background-color: #FFFFFF;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --main-btn-color: #2196F3;
  --activ-btn-color: #188CE8;
  --txt-btn: #FFFFFF;
  --web-txt-color: #2196F3;
  --studio-txt-color: #000000;
  --background-hero: #2F303A;
  --background-development: #E5E5E5;
  --background-team: #F5F4FA;
  --background-footer: #2F303A;
  --studio-txt-footer: #FFFFFF;
  --background-portfolio: #E5E5E5;
  --hero-text-color: #FFFFFF;
  --portfolio-btn: #F5F4FA;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-address-color: #FFFFFF;
  --color-border: #EEEEEE;
  --color-border-header: #ECECEC;
  --color-border-icon: #AFB1B8;
  --color-icon: #AFB1B8;
  --bacground-color-icon: #F5F4FA;
  --bacground-hover-icon: #2196F3;
  --background-color-detail: rgba(33, 150, 243, 0.9);
  --background-color-modal: rgba(0, 0, 0, 0.2);
  --background-modal-icon: #000000;
  --color-textarea: rgba(117, 117, 117, 0.5);
  --border-color-textarea: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-size: 14px;
}

.list {
  list-style: none;
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  background-color: var(--background-color);
  border: 1px solid var(--color-border-header);
}

.header .container {
  display: flex;
  justify-content: center;
}

.header-main {
  display: flex;
}

.logo {
  color: var(--web-txt-color);
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
  height: 4.67;
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  letter-spacing: 0.03em;
}

.header-logo-studio {
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--studio-txt-color);
}

.nav {
  margin-left: 93px;
}

.nav__list {
  display: flex;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.list-contact {
  display: flex;
  margin-left: auto;
}

.list-contact .list-contact__item + .list-contact__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: var(--main-btn-color);
}

.nav__link--active {
  color: var(--main-btn-color);
}
.nav__link--active::after {
  position: absolute;
  bottom: -2px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--main-btn-color);
}

.nav__item {
  position: relative;
}

.nav__link,
.logo,
.footer-contact-link,
.footer-logo {
  text-decoration: none;
  font-style: normal;
}

.list-contact__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-contact__link:hover, .list-contact__link:focus {
  color: var(--main-btn-color);
}

.list-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--background-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (min-width: 480px) {
  .hero {
    padding-top: 116px;
    padding-bottom: 116px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobil-hero-img.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-bg.jpg);
  }
}

.hero__title {
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Roboto", Tahoma, sans-sarif;
  text-transform: uppercase;
  color: var(--hero-text-color);
  max-width: 696px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    min-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    min-width: 360px;
  }
}

.hero__button {
  display: block;
  margin: auto;
  font-family: inherit;
  background-color: var(--main-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--txt-btn);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--activ-btn-color);
}

.achivements {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .achivements {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.achivements__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .achivements__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.achivements__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .achivements__item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .achivements__item {
    width: calc(25% - 30px);
  }
}

.achivement__icon {
  width: 100%;
  height: 120px;
  background-color: var(--bacground-color-icon);
  border-radius: 4px;
}

.achivements__item:not(:last-child) {
  margin-right: 30px;
}

.achivements__div {
  margin-bottom: 30px;
}

.achivements__item--title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .achivements__item--title {
    text-align: center;
  }
}

.achivements__item--text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .achivements__item--text {
    text-align: center;
  }
}

.development {
  padding-top: 0px;
  padding-bottom: 94px;
}

.development__list {
  display: flex;
}

.development__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 50px;
}

.development__item {
  position: relative;
}
.development__item:not(:last-child) {
  margin-right: 30px;
}

.development__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.development__text {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-btn);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-team);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.team__item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(25% - 30px);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 30px;
  max-width: 100%;
}

.team__item--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 10px;
  max-width: 100%;
}

.team__item--function {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 16px;
  max-width: 100%;
}

.team__soc--list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.team__soc--item + .team__soc--item {
  margin-left: 10px;
}

.team__soc--link {
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc--link:hover, .team__soc--link:focus {
  background-color: var(--bacground-hover-icon);
}

.team__soc--icon {
  fill: var(--color-icon);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc--link:hover .team__soc--icon, .team__soc--link:focus .team__soc--icon {
  fill: var(--txt-btn);
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}
@media screen and (min-width: 480px) {
  .client__list {
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
@media screen and (min-width: 768px) {
  .client__list {
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.client__item {
  height: 92px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc(16.6666666667% - 30px);
  }
}

.client__link {
  width: 100%;
  height: 100%;
  color: var(--color-icon);
  border: 1px solid var(--color-border-icon);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--main-btn-color);
  color: var(--main-btn-color);
}

.client__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
}

.contacts {
  display: flex;
  align-items: baseline;
}

.addresses {
  margin-right: 70px;
}

.soc {
  margin-right: 93px;
}

.footer-logo {
  display: inline-block;
  color: var(--web-txt-color);
  margin-bottom: 20px;
  width: 145px;
  height: 4.67;
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  letter-spacing: 0.03em;
}

.addresses__address-link {
  font-family: "Roboto", Tahoma, sans-sarif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: none;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  margin-bottom: 9px;
}

.addresses__item:not(:last-child) {
  margin-bottom: 9px;
}

.addresses__link {
  font-family: "Roboto", Tahoma, sans-sarif;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.addresses__link:hover, .addresses__link:focus {
  color: var(--main-btn-color);
}

.addresses__logo-studio {
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--studio-txt-footer);
}

.soc__list {
  display: flex;
  justify-content: center;
}

.soc__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.soc__item {
  width: 44px;
  height: 44px;
}
.soc__item + .soc__item {
  margin-left: 10px;
}

.soc__link {
  width: 100%;
  height: 100%;
  color: var(--background-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--bacground-hover-icon);
}

.soc__icon {
  fill: currentColor;
}

.sub {
  margin: 0 auto;
}

.sub__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 20px;
}

.sub__list {
  display: flex;
  justify-content: center;
}

.sub__item {
  position: relative;
}

.sub__icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--background-color);
}

.sub__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-footer);
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--studio-txt-footer);
}

.sub__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--txt-btn);
  padding-left: 29px;
  width: 200px;
  height: 50px;
  background-color: var(--main-btn-color);
  border-radius: 4px;
  border: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub__button:hover, .sub__button:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.checkbox-field {
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
}

.checkbox-input {
  margin-right: 7px;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  fill: transparent;
}

.checkbox-text .checkbox-span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-text-color);
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-input:focus + .checkbox-text .checkbox-span {
  border-color: var(--bacground-hover-icon);
}

.checkbox-input:checked + .checkbox-text .checkbox-span {
  background-color: var(--bacground-hover-icon);
}

.checkbox-input:checked + .checkbox-text .checkbox-icon {
  fill: var(--bacground-color-icon);
}

/* 
.checkbox-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--second-text-color);
    border-radius: 3px;
    margin-right: 7px;
}

.checkbox-input:checked + .checkbox-text::before {
    background-color: var(--bacground-hover-icon);
    border: none;
    background-image: url(../img/icon-agree.svg);
    background-repeat: no-repeat;
    background-position: center;
} */
.checkbox-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--web-txt-color);
  margin-left: 5px;
}
.checkbox-link:focus {
  color: var(--activ-btn-color);
}

.madal-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--txt-btn);
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--main-btn-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.madal-btn:hover, .madal-btn:focus {
  background-color: var(--activ-btn-color);
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-modal);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border: 1px solid var(--bacground-hover-icon);
  outline: none;
}

.modal-icon {
  fill: var(--studio-txt-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-icon, .modal-close-btn:focus .modal-icon {
  fill: var(--bacground-hover-icon);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--main-btn-color);
  outline: none;
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--bacground-hover-icon);
}

.modal-label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--color-textarea);
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-color-textarea);
  border-radius: 4px;
  resize: none;
}
.modal-text:focus {
  border-color: var(--bacground-hover-icon);
  outline: none;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.potrfolio__button {
  font-family: inherit;
  background-color: var(--portfolio-btn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.potrfolio__button:focus, .potrfolio__button:hover {
  background-color: var(--main-btn-color);
  color: var(--txt-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.potrfolio__button--current {
  background-color: var(--main-btn-color);
  color: var(--txt-btn);
}

.projects__description {
  padding: 20px 24px;
  border-left: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  position: relative;
  background-color: var(--background-color);
}

.projects__link {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.projects__detail {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 63px 24px;
  position: absolute;
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  background-color: var(--background-color-detail);
}
.projects__link:hover .projects__detail, .projects__link:focus .projects__detail {
  z-index: 0;
  transform: translate(0);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects__item:nth-child(3n+3) {
  margin-right: 0;
}
.projects__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.projects__item:nth-child(9) {
  margin: 0;
}

.projects__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.projects__description--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.projects__description--span {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.projects__description--text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */