.team {
    background-color: var(--background-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__list {
    display: flex;
}

.team__item {    
    background-color: var(--background-color);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-text-color);    
    text-align: center;
    margin-bottom: 50px;
}

.team__item--name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 10px;
}

.team__item--function {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 16px;
}

.team__soc--list {
    display: flex;
    justify-content: center;
}

.team__soc--item + .team__soc--item {
    margin-left: 10px;
}

.team__soc--link {
    width: 44px;
    height: 44px;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--bacground-hover-icon);
    }
}

.team__soc--icon {
    fill: var(--color-icon);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .team__soc--link:hover &,
    .team__soc--link:focus & {
        fill: var(--txt-btn);
    }
}