.projects__description {
    padding: 20px 24px;
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    position: relative;
    background-color: var(--background-color);
}

.projects__link {
    text-decoration: none;
    position: relative;
    
    overflow: hidden;
}

.projects__detail {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 63px 24px;
    position: absolute;
    transform: translatey(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
    background-color: var(--background-color-detail);   
    .projects__link:hover &,
    .projects__link:focus & {
        z-index: 0;    
        transform: translate(0);
    } 
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
}

.projects__item {
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n+3) {
        margin-right: 0;
    }
    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }    
    &:nth-child(9) {
        margin: 0;
    }
}

.projects__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.projects__description--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
    color: var(--second-text-color);
    margin-bottom: 4px;
}

.projects__description--span {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
    color: var(--second-text-color);
}

.projects__description--text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
