/* основные цвета сайта */
:root {
    --background-color: #FFFFFF;
    --main-text-color: #757575;
    --second-text-color: #212121;
    --main-btn-color: #2196F3;
    --activ-btn-color: #188CE8;
    --txt-btn: #FFFFFF;
    --web-txt-color: #2196F3;
    --studio-txt-color: #000000;
    --background-hero: #2F303A;
    --background-development: #E5E5E5;
    --background-team: #F5F4FA;
    --background-footer: #2F303A;
    --studio-txt-footer: #FFFFFF;
    --background-portfolio: #E5E5E5;
    --hero-text-color: #FFFFFF;
    --portfolio-btn: #F5F4FA;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --footer-address-color: #FFFFFF;
    --color-border: #EEEEEE;
    --color-border-header: #ECECEC;
    --color-border-icon: #AFB1B8;
    --color-icon: #AFB1B8;
    --bacground-color-icon: #F5F4FA;
    --bacground-hover-icon: #2196F3;
    --background-color-detail: rgba(33, 150, 243, 0.9);
    --background-color-modal: rgba(0, 0, 0, 0.2);
    --background-modal-icon: #000000;
    --color-textarea: rgba(117, 117, 117, 0.5);
    --border-color-textarea: rgba(33, 33, 33, 0.2);    
}
